@import "tailwindcss";

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}
.container{
  /* margin-left: 48px; */
  margin-inline: calc(var(--spacing) * 16);
  /* width: auto; */
  /* lg:mx-[150px] md:mx-[150px] ml-3 w-auto 
  margin- */
}

button:hover{
   background-color: var(--color-amber-100);
   color: black;
}

@media screen and (max-width: 576px) {
  .container{
    margin-left: 48px;
    width: auto;
  }
}